<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teacher time table</title>
    <style>
        * {
            font-family: sans-serif;
            padding: 0;
            margin: 0;
        }

        .bold {
            font-weight: bold;
        }

        .light {
            font-weight: lighter;
        }

        .big {
            font-size: 1.3rem
        }

        .very-big{
            font-size: 2rem;
        }

        .full-width {
            width: available;
        }

        .border-gray {
            border: gray solid thin;
        }

        .border-black {
            border: black solid thick;
        }

        .share-width {
            width: 16.5%;
            float: left;
            display: block;
            position: relative;
        }

        .fit-height {
            display: block;
        }

        .share-height {
            height: 10%;
            display: block;
            position: relative;
        }

        .table-height {
            height: 25rem;
        }

        .inherit-height {
            height: inherit;
        }
    </style>
</head>
<body>
{{#teachers}}

{{/teachers}}
</body>
</html>